body{
    padding-top: 100px;
  }
  label {
    display: block;
  }
  
  input {
    display: block;
  }
  
  .form-step {
    display: none;
  }
  
  .form-step-active {
    display: block;
    padding: 10px 50px 10px 50px;
    background-color:white ;
    border-radius: 5px;
  }
  .main-body{
    background-color: rgb(234, 234, 234);
  }
  /* .form-header{
    background-color: violet;
  } */
  .form-input{
    width:350px;
    border-radius: 5px;
    border: 1px solid rgb(61, 61, 61);
    height: 35px;
  }
  .form-select{
    width: 200px;
    border-radius: 5px;
    border: 1px black solid;
    text-align: center;
  }
  textarea{
    resize: none;
  }
  .width-50{
    width:100px;
  }
  .btn{
    /* border: 1px black solid; */
  }
  .error-message{
    color: red;
  }
  .required{
    color: black;
  }
  /* .disable-ancor{
    pointer-events: none;
    cursor: default;
  } */
  /* input[type=text]{

  } */