body{
    padding-top: 100px;
  }
  label {
    display: block;
  }
  
  input {
    display: block;
  }
  
  .form-step {
    display: none;
  }
  
  .form-step-active {
    display: block;
    padding: 10px 50px 10px 50px;
    background-color:white ;
    border-radius: 5px;
  }
  .main-body{
    background-color: rgb(234, 234, 234);
  }
  /* .form-header{
    background-color: violet;
  } */
  .form-input{
    width:350px;
    border-radius: 5px;
    border: 1px solid rgb(61, 61, 61);
    height: 35px;
  }
  .form-select{
    width: 200px;
    border-radius: 5px;
    border: 1px black solid;
    text-align: center;
  }
  textarea{
    resize: none;
  }
  .width-50{
    width:100px;
  }
  .btn-active{
    border: 1px black solid;
  }
  .btn{
    background-color: white;
  }
  .error-message{
    color: red;
  }
  .required{
    color: black;
  }
  .form-group{
    margin-bottom: 50px;
  }
  .disable-ancor{
    pointer-events: none;
    cursor: default;
  }
  .btn-right{
    float: right;
  }
  .btn-left{
    float: left;
  }
  .nav-btn{
    /* margin:10px; */
    width: 100px;
    margin:0 10px 0;
  }
  .circle{
    height: 5px;
    width: 5px;
    background-color: red;
  }
  .bar{
    display: flex;
    background-color: blue;
    margin: 0 auto 0;
    width: 50%;
  }
  .bar-step{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
   
  }
  /* .btn-group{
    position: relative;
  }
  .btn-position-right{

    bottom: 8px;
    right: 16px;
  }
  .btn-position-left{

    bottom: 8px;
    left: 16px;
  } */
  /* .form-step{
    height: 500px;
  } */
  /* input[type=text]{

  } */