body{
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .background{
    background-image: url("img.png");
    background-size:cover;
  }
  .card{
    margin:0 15% 0;
    width:70%;
    background-color: #ffffff;
  }
  label {
    display: block;
  }
  
  input {
    display: block;
  }
  
  .form-step {
    display: none;
  }
  
  .form-step-active {
    display: block;
    padding: 10px;
    background-color:#ffffff ;
    border-radius: 5px;
  }
  .main-body{
    background-color: #ffffff;
    border-radius: 5px;
    margin: 2px;
  }
  .form-header{
    /* background-color: violet; */
    /* border: 1px solid black; */
    margin: 10px 0 10px;
  }
  .form-input{
    width:200px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
  }
  .form-select{
    width: 200px;
    border-radius: 5px;
    border: 1px black solid;
    text-align: center;
  }
  textarea{
    resize: none;
  }
  .width-50{
    width:100px;
  }
  /* .btn-active{
    border: 1px rgb(0, 0, 0) solid;
    background-color: white;
    color: black;
  } */
  .btn{
    background-color: white;
  }
  .error-message{
    color: red;
  }
  .required{
    color: black;
  }
  .form-group{
    /* margin-bottom: 10px; */
  }
  .disable-ancor{
    pointer-events: none;
    cursor: default;
  }
  .btn-right{
    float: right;
    border: 1px solid blue;
    color: blue;    
  }
  .btn-left{
    float: left;
    border: 1px solid red;
    color: red;
  }
  .nav-btn{
    margin:10px;
    width: 100px;
    height: 40px;
    margin:0 10px 0; 
    background-color: rgb(51, 120, 169);
    color: white;
    /* background-color: rgba(219,70,107,255);
    color: white; */
    /* margin:0 10px 0; */
  }
  .color-change{
    background-color: rgba(219,70,107,255);
    color: white;
  }
  .circle{
    height: 5px;
    width: 5px;
    background-color: red;
  }
  .bar{
    /* display: flex;
    background-color: blue;
    margin: 0 auto 0;
    width: 50%; */
    /* display: inline;
    margin:5px auto 5px;
    width: 50%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(104, 104, 104);
    display: flex;
    justify-content: space-between;
    position: relative; */
    position: relative;
    display:flex;
    justify-content: space-between;
    width: 75%;
    margin: 15px auto 15px;
    border-radius: 50%;
  }
  .bar::before{
    content: "";
    position: absolute;
    top:50%;
    height: 4px;
    width:100%;
    background-color: rgb(51, 120, 169);
    border-radius: 50px;
  }
  .inner-bar{
    width:8px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 3.5px;
  }
  .bar-step{
    /* width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    display: flex; */

    /* display: flex;
    display: inline;    */
    top: 2px;
    position: relative;
    /* right: 1px; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .bar-inactive{
    background-color: rgb(121, 121, 121);
  }
  .bar-active{
    background-color: rgba(219,70,107,255);
  }

  /* .btn-group{
    position: relative;
  }
  .btn-position-right{

    bottom: 8px;
    right: 16px;
  }
  .btn-position-left{

    bottom: 8px;
    left: 16px;
  } */
  /* .form-step{
    height: 500px;
  } */
  /* input[type=text]{

  } */